{% comment %} {% extends "account/base.html" %} {% endcomment %}
{% load static %}
{% load i18n %}
{% load account %}

{% comment %} {% block head_title %}{% trans "Password Reset" %}{% endblock %} {% endcomment %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% block content %}
<div class="auth-wrap">
    <a href="{% url 'home' %}" class="close_auth">
        <img src="{% static 'img/close_cross.svg' %}" alt="">
    </a>
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="authForm password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="submitBtn" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
<div id="authBgImg">
    <img src="{% static 'img/g.jpg' %}" alt="">
</div>
{% endblock %}
