{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}
<div id="pub-menu-panel-bg" class="pub-menu-panel-bg panel-hide"></div>
<div class="profle-detail-wrap">
    <div class="pd-body">
        <div class="pd-img-wrap">
            <img src="{% static 'img/a1.jpg' %}" alt="">
        </div>
        <div class="r-pd">
            <div class="r-pd-top">
                <div class="pd-username">renxob</div>
                <div class="pub-menu-wrap">
                    <button class="pub-menu-btn">
                        <img src="{% static 'img/menu_1.svg' %}" alt="">
                    </button>
                    <div class="pub-panel panel-menu-hide">
                        <a>Copy url</a>
                        <a>Copy id</a>
                        <a href="">Edit</a>
                        <a>Add to bookmarks</a>
                    </div>
                </div>
            </div>
            <div class="r-pd-btns">
                <button id="btn-follow">
                    Follow
                </button>
                <button id="show-detail-btn">
                    Show detail information
                </button>
                <a href="#">
                    <img src="{% static 'img/github.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/twitter.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/linkedin.svg' %}" alt="">
                </a>
            </div>
        </div>
    </div>
    <div id="pd-info" class="pd-info pdi-hide">
        <div class="pd-info-item">
            <hr color="#D6E0FF" class="list-line">
            <div class="pd-info-item-text">
                <div class="pd-info-item-title">
                    Name
                </div>
                <div class="pd-info-item-content">
                    Jhon
                </div>
            </div>
        </div>
        <div class="pd-info-item">
            <hr color="#D6E0FF" class="list-line">
            <div class="pd-info-item-text">
                <div class="pd-info-item-title">
                    Description
                </div>
                <div class="pd-info-item-content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                </div>
            </div>
        </div>
        <div class="pd-info-item">
            <hr color="#D6E0FF" class="list-line">
            <div class="pd-info-item-text">
                <div class="pd-info-item-title">
                    Kind of activity
                </div>
                <div class="pd-info-item-content">
                    It is a long established fact that.
                </div>
            </div>
        </div>
        <div class="pd-info-item">
            <hr color="#D6E0FF" class="list-line">
            <div class="pd-info-item-text">
                <div class="pd-info-item-title">
                    Interests
                </div>
                <div class="pd-info-item-content">
                    It is a long established fact that.
                </div>
            </div>
        </div>
        <div class="pd-info-item">
            <hr color="#D6E0FF" class="list-line">
            <div class="pd-info-item-text">
                <div class="pd-info-item-title">
                    Place of work
                </div>
                <div class="pd-info-item-content">
                    It is a long established fact that.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profile-search-place">
    <div class="profile-search-wrap">
        <input type="text">
        <!-- <img src="{% static 'img/search.svg' %}" alt=""> -->
        <button id="search-profile-btn">Search</button>
    </div>
</div>
<div class="profile-posts">
    <div class="pub-t-text-wrap">
        <div class="top-side">
            <div class="pub-profile">
                <div class="pub-profile-img">
                    <img src="{% static 'img/p4.jpg' %}" alt="">
                </div>
                <div class="pub-profile-username">
                    renxob
                </div>
            </div>
            <div class="pub-menu-wrap">
                <button class="pub-menu-btn">
                    <img src="{% static 'img/menu_1.svg' %}" alt="">
                </button>
                <div class="pub-panel panel-menu-hide">
                    <a>Copy url</a>
                    <a>Copy id</a>
                    <a href="">Edit</a>
                    <a>Add to bookmarks</a>
                </div>
            </div>
        </div>
        <div class="pub-content-wrap">
            <div class="s-text load-more">
                It is a long established fact that a reader 
                will be distracted by the readable content of a 
                page when looking at its layout. The point of 
                using Lorem Ipsum is that it has a more-or-less 
                normal distribution of letters, as opposed to using 
                'Content here, content here', making it look like readable 
                English. Many desktop publishing packages and web page 
                English. Many desktop publishing packages and web page 
                editors now use Lorem Ipsum as their default model text.
            </div>
            <div class="pub-load-more">Load more</div>
        </div>
        <div class="bottom-side">
            <div class="bottom-side-btns">
                <div class="bottom-side-btn-wrap">
                    <button class="bottom-side-btn like_btn"><img class="like-img" src="{% static 'img/dont_like.svg' %}" alt=""><div class="num-of-likes dont_like">435</div></button>
                </div>
                <div class="bottom-side-btn-wrap">
                    <button class="bottom-side-btn"><img src="{% static 'img/comment.svg' %}" alt=""><div class="num-of">34</div></button>
                </div>
                <div class="bottom-side-btn-wrap">
                    <button class="bottom-side-btn repost_btn"><img src="{% static 'img/repost.svg' %}" alt=""><div class="num-of">34</div></button>
                </div>
                <div class="pub-date-id">
                    <div class="pub-id">*<div>23V32B</div></div>
                    <div class="pub-date">02.05.2022</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    if(document.getElementsByClassName('like-btn-wrap')){
        let like_btns = document.getElementsByClassName('like_btn');
        let num_of_likes = document.getElementsByClassName('num-of-likes');
        for (let i = 0; i < like_btns.length; i++) {
            like_btns[i].onclick = function(){
                if(num_of_likes[i].classList.contains('dont_like')){
                    document.getElementsByClassName('like-img')[i].src = `{% static 'img/like.svg' %}`;
                    num_of_likes[i].classList.remove('dont_like');
                    num_of_likes[i].classList.add('like');
                    num = parseInt(num_of_likes[i].innerHTML);
                    num ++;
                    num_of_likes[i].innerHTML = num;
                }
                else{
                    document.getElementsByClassName('like-img')[i].src = `{% static 'img/dont_like.svg' %}`;
                    num_of_likes[i].classList.remove('like');
                    num_of_likes[i].classList.add('dont_like');
                    num = parseInt(num_of_likes[i].innerHTML);
                    num --;
                    num_of_likes[i].innerHTML = num;
                }
            }       
        }
    }
</script>        
{% endblock script %}
</script>   