{% load static %}
<header>
    <div class="logo">Logo</div>
    <div class="header-search-wrap">
        <input type="text">
        <img src="{% static 'img/search.svg' %}" alt="">
    </div>
    <div class="header-nuttons">
        <a href="{% url 'home' %}">Home</a>
        <a href="" id="notfc">
            <div>Notification</div>
            <div id="notfc-amount">3</div>
        </a>
    </div>
    <div class="menu-btn">
        <button id="menu-btn"><img src="{% static 'img/menu.svg' %}" alt=""></button>
        <div id="menu-panel" class="menu-panel panel-hide">
            <a id="create-pub-btn" type="button">Create a publication</a>
            <a id="my-follows-btn">My follows</a>
            <a href="">Bookmarks</a>
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'account_login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
    <a href="{{ user.profilemodel.get_absolute_url }}" class="header-profile-wrap">
        <div class="header-profile-username"><span>{{ user.username }}</span></div>
        <div class="header-profile-img">
            <img src="{{ user.profilemodel.pm_avatar.url }}" alt="">
        </div>
    </a>
</header>