{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/chief-slider.min.css' %}">
    <script defer src="{% static 'js/chief-slider.min.js' %}"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div id="panel-bg" class="panel-hide"></div>
    <header>
        <div class="logo">Logo</div>
        <div class="header-search-wrap">
            <input type="text">
            <img src="{% static 'img/search.svg' %}" alt="">
        </div>
        <div class="header-nuttons">
            <a href="">Home</a>
            <a href="" id="notfc">
                <div>Notification</div>
                <div id="notfc-amount">3</div>
            </a>
        </div>
        <div class="menu-btn">
            <button id="menu-btn"><img src="{% static 'img/menu.svg' %}" alt=""></button>
            <div id="menu-panel" class="menu-panel panel-hide">
                <a id="create-pub-btn" type="button">Create a publication</a>
                <a href="">My follows</a>
                <a href="">Bookmarks</a>
                <a href="">Log out</a>
            </div>
        </div>
        <a href="" class="header-profile-wrap">
            <div class="header-profile-username"><span>renxob</span></div>
            <div class="header-profile-img">
                <img src="{% static 'img/p4.jpg' %}" alt="">
            </div>
        </a>
    </header>
    <div id="content" class="content">
        {% include 'publication/includes/create_post.html' %}
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
<script src="{% static 'js/main.js' %}"></script>
{% block script %}
        
{% endblock script %}
</html>